.encabezado {
  text-align: center;
  color: #f0a7b3;
  background: #395fa7;
  font: bold 150% monospace;
}

body{
background: white;
font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

.inicio{
  background-color: #FFEF82;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 0px;
  width: 0px;
}


nav {
  text-align: center;
  padding: 20px;
color: red;
  font: bold 150% monospace;
}


h2 {
  text-align: center;
  font: bold 150% monospace;
  color: #28795d;
}

table,
td {
border: 0px solid #333;
text-align: center;
width: auto;

}


thead,
tfoot {
background-color: #333;
color: #fff;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.pie {
  text-align: center;
  color: #ffe1e0;
  background: #395fa7;
  font: bold 100% monospace;
}
.final{
  text-align: center;
  background-color: pink;
  padding: 20px;
color: red;
  font: bold 150% monospace;
}
